

:root {
    --first-color: #f8e356;
    --second-color: #0d8bc5;
    --third-color: #047d43;
    --four-color: #01123d;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.container {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

